<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782333401605-k8nnfmbblbgmrupmaj9a2l2h60q75fk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782333401605-k8nnfmbblbgmrupmaj9a2l2h60q75fk3</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ6nC8A94k9PHyx2-2PkqNP2QIcHdgsSU</string>
	<key>GCM_SENDER_ID</key>
	<string>782333401605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFcmNotifications</string>
	<key>PROJECT_ID</key>
	<string>flutter-fcm-notification-9e02a</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fcm-notification-9e02a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782333401605:ios:2731480cedf09a5cae1a6c</string>
</dict>
</plist>